body,html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#card {
    padding: 50px;
    height: 100%;
}

#title {
    text-align: center;
    font-size: xx-large;
}

.button-container {
	width: 100%;
	padding-top: 20%;
}
